<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.RollingFileAppender" name="file">
        <param value="${catalina.home}/logs/RHL/RHL.log" name="File"/>
        <param value="1" name="MaxBackupIndex"/>
        <param value="1MB" name="MaxFileSize"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>

    <appender name="DB" class="org.apache.log4j.jdbc.JDBCAppender">
	   <param name="url" value="jdbc:postgresql://127.0.0.1:5432/baseSQL"/>
	   <param name="driver" value="org.postgresql.Driver"/>
	   <param name="user" value="user_id"/>
	   <param name="password" value="password"/>
	   <param name="sql" value="INSERT INTO LOGS VALUES('%x','%d','%C','%p','%m')"/>
	   <layout class="org.apache.log4j.PatternLayout">
	   </layout>
	</appender>
    <appender class="org.apache.log4j.ConsoleAppender" name="stdout">
        <param value="System.out" name="Target"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <root>
        <level value="debug"/>
        <appender-ref ref="file"/>
        <appender-ref ref="stdout"/>
    </root>
</log4j:configuration>